<ion-view view-title="Team">
    <ion-content>
        <div class="team">
            <div class="row" ng-repeat="item in gallerys">
                <div class="col col-33" ng-repeat="items in item">
                    <a href="#/app/team/detail" class="inner-layer">
                        <div>
                            <figure> <img ng-src="{{items.logo}}"></figure>
                            <div class="team-name">
                                <h4>{{items.name}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
