/* Empty. Add your own CSS if you like */

.bar-side {
    background-image: url('../img/back.jpg') !important;
    height: 125px !important;
    background-size: 100% 100% !important;
    background-position: center, center;
}

.bar-side .item {
    background: transparent;
}

.side-image {
    width: 100%;
}

.side-image img {
   
    width: 80px;
    height: 80px;
}

.side-image .item {
    border: none;
}
.icon i{
    font-size: 20px;
    padding-right: 15px;
}